<nav style="background: #f2f2f2; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
  <a href="/view/home" style="margin-right: 10px;">Home</a>
  <a href="/view/realtimeproducts">Productos en Tiempo Real</a>
</nav>
<h1>Lista de productos (Home)</h1>

<ul>
  {{#each products}}
    <li><b>{{title}}</b> - {{description}} - ${{price}}</li>
  {{/each}}
</ul>